
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form  id="createProduct">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="description" />

    <br />
    <label>Price</label>
    <input name="Price" />

    <br />
    <button type="button" id="Savebtn">Save</button>
</form>
<script>
    ///  alert('asad');
    $('#Savebtn').click(function () {

     //   var searchValue = $('#txtsearch').val();
        // alert(searchValue);
        $.ajax({
            type: "POST",
            url: "/Product/create",
            //data: JSON.stringify(searchValue),
            data:$("#createProduct").serialize(),
            // dataType: "json"  ,
            //contentType: 'application/json; charset=utf-8',  
            success: function (data) {
                alert(data);
                $('#asad').html(data);
                $('#newFormData').html("");
            },
            error: function () {
                alert("Error occured!!")
            }
        });

    });

</script>